.view-title {
  margin: 0;
  font-size: var(--lumo-font-size-l);
}

.view-header {
  align-items: center;
  background-color: var(--lumo-base-color);
  border-bottom: 1px solid var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: flex;
  height: var(--lumo-size-xl);
  width: 100%;
}

.view-toggle {
  color: var(--lumo-secondary-text-color);
}

.app-name {
  align-items: center;
  display: flex;
  height: var(--lumo-size-xl);
  margin: 0 var(--lumo-space-m);
  font-size: var(--lumo-font-size-m);
}

.drawer-section {
  align-items: stretch;
  background: linear-gradient(var(--lumo-shade-5pct), var(--lumo-shade-5pct));
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.app-nav {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
  color: var(--lumo-secondary-text-color);
  flex: 1;
  font-size: var(--lumo-font-size-s);
  overflow: auto;
  padding: 0 var(--lumo-space-s);
}

.app-nav .nav-item-icon {
  font-size: var(--lumo-icon-size-s);
}

.app-nav-footer {
  align-items: center;
  display: flex;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-m);
}

.app-nav-footer vaadin-context-menu {
  cursor: var(--lumo-clickable-cursor);
  display: contents;
  font-weight: 500;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

